[submodule "dependencies/spdlog-adapter"]
	path = dependencies/spdlog-adapter
	url = https://github.com/njoy/spdlog-adapter.git
[submodule "dependencies/catch-adapter"]
	path = dependencies/catch-adapter
	url = https://github.com/njoy/catch-adapter.git
